<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/axios/dist/axios.min.js"></script>
  <script src="/sweetalert/dist/sweetalert.min.js"></script>
  <!-- <script src="/axios-retry/es/index.js"></script> -->
</head>

<body>
  <h1> Welcome Home </h1>
  <br>
  <div style="padding: 15px; border: 1px solid #ccc; border-radius: 5px;">

    <span>Name: </span>
    <span>
      <%= user.displayName %>
    </span>

  </div>
  <br>

  <a href="/logout">logout</a>
  <br>

  <div>
    <p>You are not subscribed!</p>
    <a href="/user/subscribe">Subscribe Now</a>
    <br>
  </div>

  <!-- <script src="https://www.paypal.com/sdk/js?client-id=SB_CLIENT_ID">
  </script> -->

  <!-- Set up a container element for the button -->
  <div id="paypal-button-container"></div>

  <!-- Include the PayPal JavaScript SDK -->
  <script src="https://www.paypal.com/sdk/js?client-id=AWwYwV-wPBhPmyV59wrE9PLvsaSVuXwHgE9ReUBgKZvl2Tp5KhEpOm6SNidlfnbk7vaimnwwIV2fi7mn&currency=USD"></script>

  <script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

      // Set up the transaction
      createOrder: function (data, actions) {
        console.log('DATA: ', data);
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '14.99'
            }
          }]
        });
      },

      // Finalize the transaction
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          // Show a success message to the buyer
          axios.defaults.baseURL = 'http://localhost:3000/';
          axios.defaults.headers['csrf-token'] = '<%= _csrf %>';
          axios.defaults.headers['_csrf'] = '<%= _csrf %>';
          axios.defaults.headers['xsrf-token'] = '<%= _csrf %>';

          //axiosRetry(axios, { retries: 3 });
          console.log('details: ', details);
          axios.post('/payment', { details })
            .then(res => {
              swal('paid successfully', 'You have been subscribed successfully!', 'success');
            })
            .catch(err => {
              swal('Warning', 'your money has been sent with success, but we could not handle your subscription on our server. contact us please!', 'warning');
            });

        });
      }


    }).render('#paypal-button-container');
  </script>

  <div>
    <a href="/logout"> logout </a>
    <br>
  </div>

</body>

</html>