<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PayPal - Create a plan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <h1>Create a new plan</h1>

  <form action="/admin/paypal/create-a-plan" method="post">
    <%- csrf_input %>
      <textarea name="billingPlanAttribs">
       { name: 'Basic', description: 'Monthly plan', type: 'fixed', payment_definitions: [{ name: 'Basic plan', type: 'REGULAR',
      frequency_interval: '1', frequency: 'MONTH', cycles: '11', amount: { currency: 'USD', value: '19.99' } }], merchant_preferences:
      { cancel_url: 'http://localhost:7000/cancel', return_url: 'http://localhost:7000/success', max_fail_attempts: '0', auto_bill_amount:
      'YES', initial_fail_amount_action: 'CONTINUE' } }
     </textarea>
      <br>
      <button> create </button>
  </form>

</body>

</html>