<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PayPal - Create a plan's billing agreement</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <h1>Create a plan's billing agreement</h1>

  <br>

  <form action="/user/paypal/create-a-billing-agreement" method="post">
    <%- csrf_input %>
      <% plans.forEach(function(Plan){ %>
        <div>
          <h2>
            <%= Plan.name %>
          </h2>
          <br>
          <div style="padding: 15px; border: 1px solid #ccc; border-radius: 5px;">

            <span>ammount: </span>
            <span>
              <%= Plan.ammount %>/
                <%= Plan.frequency %>
            </span>

          </div>
        </div>
        <input type="hidden" name="id" value="<%= Plan.id %>">
        <button> Subscribe </button>
        <% }); %>
  </form>

</body>

</html>